#otuge {
		width: 400px;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		/*background-color: #ffc2d7;*/
		background-color: #ccccff;
		padding: 15px;
		position: absolute;
		/*left: 210px;*/
		top: -200px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}